html {
  font-size: 22px;
  line-height: 1.4;
  font-weight: bold;

  @include media(">=tablet") {
    font-size: 26px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: black;
}

::selection {
  background: black;
  color: white
}

::-moz-selection {
  background: black;
  color: white
}

a,
a:hover,
a:active {
  color: black;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

a:focus {
  background: black;
  outline: 0.333em solid black;
  color: white
}

h1 {
  font-size: 1.5rem;
  font-weight: inherit;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: inherit;
}
