<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6774621-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-6774621-1');
  </script>

  <link rel="stylesheet" href="/assets/main.css">

  <title>{{ page.title }}</title>
</head>
<body>
  <main>
    {{ content }}
  </main>
</body>
</html>
